---
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
SortIncludes: false
